<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/static/stylesB.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesTH.css"> 
</head>
<body>
    
    <div class="button-container" style="display: flex; align-items: center; gap: 20px; ">
        <a href="/AtualizarPerf/init" class="btn btn-primary">Atualizar perfil</a>
        <a href="/professioncad/init" class="btn btn-primary">Criar perfil profissional</a>
        <a href="/pesquisa/init" class="btn btn-primary">Calcular média salarial</a>
        <a href="/indicacoes/init" class="btn btn-primary">Recomendações Profissionais</a>
    </div>
</body>
</html>
