<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/static/stylesB.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .button-container {
            display: flex;
            justify-content: center; /* Center buttons horizontally */
            align-items: center; /* Center buttons vertically */
            height: 100vh; /* Full viewport height */
        }
        .btn {
            width: 300px; /* Button width */
            height: 100px; /* Button height */
            font-size: 24px; /* Larger font size */
            margin: 20px; /* Spacing between buttons */
        }
    </style>
</head>
<body>
    <div class="button-container">
        <a href="/professioncad/init" class="btn btn-primary">Criar perfil profissional</a>
        <a href="/pesquisa/init" class="btn btn-secondary">Calcular média salarial</a>
    </div>
</body>
</html>