<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/static/stylesB.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesTH.css"> 
</head>
<body>
    <div class="circle">
        <div class="currency-icon">💵</div> <!-- Símbolo de cédula -->
    </div>
    
    <p class="update-text">Atualizar perfil</p> <!-- Texto adicionado abaixo do círculo -->
    
    <div class="button-container">
        <a href="/professioncad/init" class="btn btn-primary">Criar perfil profissional</a>
        <a href="/pesquisa/init" class="btn btn-secondary">Calcular média salarial</a>
        <a href="/indicacoes/init" class="btn btn-terceiro">Recomendações Profissionais</a>
    </div>
</body>
</html>
