<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Indicações Profissionais</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body class="bg-blue-500 flex items-center justify-center min-h-screen">
    <div class="bg-blue-700 text-white w-full max-w-4xl p-4 rounded-lg">
        <div class="bg-white text-black p-4 rounded-lg mb-4">
            <h2 class="font-bold mb-2">Usuario logado :</h2>
            {% if user_email %}
                <p>{{ user_email }} - RANK :  {{ user_rank }}</p>
            {% endif %}
        </div>
        <div class="flex justify-between items-center mb-4">

            <a href="/home/return" class="bg-blue-300 text-black px-4 py-2 rounded-full flex items-center">
                <i class="fas fa-arrow-left"></i>
                <span class="ml-2">Página inicial</span>
            </a>
            {% if indicacoes %}
                   <h1 class="text-xl font-bold"></h1>
                    {% for indicacao in indicacoes %}
                        <p>• {{ indicacao[0] }} - Rank : {{ indicacao[5] }}</p>  <!-- Livros -->
                    {% endfor %}
                    </h1> <!-- Exibe o email do usuário -->

                {% if has_next %}
                    <a href="{{ url_for('indicacoes.usuarios', page=page + 1) }}" class="bg-blue-300 text-black px-4 py-2 rounded-full flex items-center">
                        <span class="mr-2">Próximo Mentor</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                {% else %}
                    <div class="bg-blue-300 text-black px-4 py-2 rounded-full flex items-center">
                    <span class="mr-2">Fim da lista</span>
                    </div>
                 {% endif %}
            {% else %}
                <h1 class="text-xl font-bold mb-4">Fim da lista de Indicações</h1>
            {% endif %}
        </div>
        
        <div class="grid grid-cols-3 gap-4 text-center mb-4">
            <div>
                <h2 class="font-bold">Vídeos Recomendados:</h2>
                {% if indicacoes %}
                    {% for indicacao in indicacoes %}
                        <p>{{ indicacao[2] }}</p>  <!-- Vídeos -->
                    {% endfor %}
                {% else %}
                    <p>Nenhum vídeo recomendado disponível.</p>
                {% endif %}
            </div>
            <div>
                <h2 class="font-bold">Leitura Essencial:</h2>
                {% if indicacoes %}
                    {% for indicacao in indicacoes %}
                        <p>• {{ indicacao[3] }}</p>  <!-- Livros -->
                    {% endfor %}
                {% else %}
                    <p>Nenhum livro recomendado disponível.</p>
                {% endif %}
            </div>
            <div>
                <h2 class="font-bold">Cursos:</h2>
                {% if indicacoes %}
                    {% for indicacao in indicacoes %}
                        <p>{{ indicacao[1] }}</p>  <!-- Cursos -->
                    {% endfor %}
                {% else %}
                    <p>Nenhum curso recomendado disponível.</p>
                {% endif %}
            </div>
        </div>
        
        <div class="bg-black text-white p-4 rounded-lg mb-4">
            <h2 class="font-bold mb-2">Texto do Mentor:</h2>
            {% if indicacoes %}
                {% for indicacao in indicacoes %}
                    <p>{{ indicacao[4] }}</p>  <!-- Texto Motivacional -->
                {% endfor %}
            {% else %}
                <p>Nenhum texto motivacional disponível.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
