<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Profissão</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .centered-form {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>

<div class="wrapper">
    <div class="centered-form">
        <h2 class="text-center">Inserir Nova Profissão</h2>
              <!-- Display the result -->
      <div style="text-align: center; justify-content: center">
        {% if useremail %}
            <div>
                <strong>{{ useremail }}</strong>
            </div>
        {% endif %}
     </div>
        <form action="/professioncad/add_profession" method="POST">
            <div class="form-group">
                <label for="profession">Profissão</label>
                <select class="form-control" id="profession" name="profession_id" required>
                    <!-- As opções abaixo serão populadas dinamicamente -->
                    {% for profession in professions %}
                        <option value="{{ profession[0] }}">{{ profession[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="region">Região</label>
                <select class="form-control" id="region" name="region_id" required>
                    <!-- As opções abaixo serão populadas dinamicamente -->
                    {% for region in regions %}
                        <option value="{{ region[0] }}">{{ region[1] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="salary">Salário</label>
                <input type="number" class="form-control" id="salary" name="salary" placeholder="Digite o salário" required>
            </div>

            <input type="hidden" name="email" value="{{ useremail }}">  <!-- E-mail do usuário logado -->

            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
