<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados da Profissão</title>
    <link rel="stylesheet" href="/static/stylesB.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <table>
        <tr>
        <td>
    <div class="wrapper">
        <h2 class="text-center">Dados da Profissão</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Profissão</th>
                    <th>Região</th>
                    <th>Salário</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user_data[1] }}</td>  <!-- Profession Name -->
                    <td>{{ user_data[2] }}</td>  <!-- Region -->
                    <td>{{ user_data[0] }}</td>  <!-- Salary -->
                </tr>
            </tbody>
        </table>
        <a href="/AtualizarPerf/init" class="btn btn-primary">Editar</a>  <!-- Option to edit profession data -->
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div class="button-container" style="text-align: center; gap: 20px; ">
        <a href="/home/return">Voltar a home</a>
    </div>
    </td>
    </tr>
    </table>
</body>
</html>
